<footer>
  <div class="mx-auto max-w-screen-lg">
    <div class="p-2">
      Copyright © {{ now|date('Y') }} <a href="https://hellodative.com" target="_blank">HelloDative.com</a>
    </div>
  </div>
</footer>
