/**
 * components/global.css
 *
 * Project-wide styles
 *
 */

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body {
    background-color: theme(colors.blue.50);
  }

  a {
    transition-property: theme(transitionProperty.colors);
    transition-timing-function: theme(transitionTimingFunction.DEFAULT);
    transition-duration: theme(transitionDuration.DEFAULT);
    color: theme(colors.blue.700);

    &:hover {
      text-decoration: underline;
    }
  }
}
