{% extends '_layouts/_naked_layout.twig' %}

{# prettier-ignore #}
{% block pageContainer %}
  <div id="page-container" class="mx-auto max-w-screen-lg">
    {% block siteHeader %}
      {% include '_partials/_site_header.twig' %}
    {% endblock %}

    <main class="px-2">
      {% block beforeMainContent %}{% endblock %}
      {% block mainContent %}{% endblock %}
      {% block afterMainContent %}{% endblock %}
    </main>

    {# -- Content that appears below the primary content block -- #}
    {% block subcontent %}{% endblock %}

    {% block siteFooter %}
      {% include '_partials/_site_footer.twig' %}
    {% endblock %}
  </div>
{% endblock %}
